{
    color:red ;background:yellow
} */



span {
    color: blue;
}

p {
    color: red
}



h2 {
    color: rgb(7, 231, 7)
}

a, li {
    color: rgb(255, 0, 34)
}

.heoo {
    color: brown
}
 #nihal{color:orange;}
 h3{color:rgb(165, 42, 42)}



h1{color:cadetblue}
